html, body {
    background-color: #f2f5f6;
    /*height: 100%;*/
}

article {
    background: #dbe1ff;
    margin-right: 280px;
    margin-top: 20px;
    padding: 10px;
}

article.article-main {
    padding: 10px;
}

p{
    text-align: justify;
}

.main {
    background: #FFFFFF;
    flex: 1 0 auto;
    padding: 20px;
}

.categories-main{
    background: #dbe1ff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.wrapper {
	max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 10px;
}

div#login h2 {
    padding: 5px;
    font-size: 34px;
    text-align: center;
}

div#login input {
    float: right;
    height: 30px;
    padding-left: 5px;
    font-size: 16px;
    width: 100%;
    margin-top: 15px;
}

.login-button {
    margin-top: 20px;
    padding: 5px;
    height: 40px;
    font-size: 22px;
    width: 100%;
}

.login-form {
    margin-top: 100px;
    margin-left: 440px;
    width: 300px;
    height: 245px;
    padding: 20px;
    border-style: ridge;
    background-color: aliceblue;
}

.registration-link {
    font-size: 22px;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}

.registration-form {
    margin-top: 20px;
    margin-left: 410px;
    width: 350px;
    height: 580px;
    padding: 10px 20px;
    border: 8px skyblue;
    background-color: aliceblue;
}

div#registration h2 {
    padding: 5px;
    font-size: 34px;
    text-align: center;
}

div#registration input {
    float: right;
    height: 30px;
    margin-top: 3px;
    margin-bottom: 10px;
    padding-left: 5px;
    font-size: 16px;
    width: 100%;
}

div#registration label {
    font-size: 18px;
    width: 100%;
}

div#registration div {
    margin-top: 15px;
}

.registration-button {
    margin-top: 15px;
    padding: 5px;
    height: 40px;
    font-size: 22px;
    width: 100%;
}

.login-link {
    font-size: 20px;
    margin-top: 15px;
    padding: 5px;
    text-align: center;
}

/*my account*/

h2#welcome {
    font-size: 26px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-weight: bold;
}

h2#profile-header {
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: bold;
    padding-left: 100px;
}

.profile-container {
    float: left;
    width: 35%;
    margin-left: 20px;
    padding: 10px;
    background-color: #66afe9;
}

.profile {
    font-size: 20px;
    line-height: 30px;
}

.row-title {
    padding-left: 35px;
}

.row-value {
    padding-left: 125px;
}

.profile-button {
    height: 40px;
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
}

.my-orders-container {
    float: right;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width: 55%;
    background-color: silver;
}

h2#orders-header {
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: bold;
    padding-left: 250px;
}

.my-orders th {
    font-size: 18px;
    text-align: center;
    padding: 5px;
}





/*input:invalid:not(:placeholder-shown):not(:focus) {border-color: red;}*/
/*input:valid:not(:placeholder-shown):not(:focus) {border-color: green;}*/

/*.form-error {*/
    /*color: red;*/
    /*text-align: left;*/
    /*font-size: 12px;*/
    /*display: block;*/
    /*margin-top: 3px;*/
    /*display: none;*/
/*}*/

